<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Aoe_Queue>
            <version>0.0.1</version>
        </Aoe_Queue>
    </modules>
    <global>
        <helpers>
            <aoe_queue>
                <class>Aoe_Queue_Helper</class>
            </aoe_queue>
        </helpers>
        <models>
            <aoe_queue>
                <class>Aoe_Queue_Model</class>
                <resourceModel>aoe_queue_resource</resourceModel>
            </aoe_queue>
            <aoe_queue_resource>
                <entities>
                    <queue>
                        <table>aoe_queue</table>
                    </queue>
                    <message>
                        <table>aoe_queue_message</table>
                    </message>
                </entities>
            </aoe_queue_resource>
        </models>
        <resources>
            <aoe_queue>
                <setup>
                    <module>Aoe_Queue</module>
                </setup>
            </aoe_queue>
        </resources>
    </global>
    <crontab>
        <jobs>
            <aoe_queue>
                <schedule>
                    <config_path>always</config_path>
                </schedule>
                <run>
                    <model>aoe_queue/cron::processQueue</model>
                </run>
            </aoe_queue>
        </jobs>
    </crontab>
    <default>
        <system>
            <aoe_queue>
                <max_runtime>50</max_runtime>
            </aoe_queue>
        </system>
    </default>
</config>
